@model IEnumerable<WebASPNet8MVC.ViewModels.HangHoaVM>

<h3>có @Model.Count() sản phẩm</h3>

@foreach (var hangHoa in Model)
{
    <div class="col-md-6 col-lg-6 col-xl-4">
        <div class="rounded position-relative fruite-item">
            <div class="fruite-img">
                <a asp-action="Detail" asp-controller="HangHoa" asp-route-id="@hangHoa.MaHh">
                    <img src="~/Hinh/HangHoa/@hangHoa.Hinh" class="img-fluid w-100 rounded-top" alt="">
                </a>
            </div>
            <div class="text-white bg-secondary px-3 py-1 rounded position-absolute" style="top: 10px; left: 10px;">@hangHoa.TenLoai</div>
            <div class="p-4 border border-secondary border-top-0 rounded-bottom">
                <a asp-action="Detail" asp-controller="HangHoa" asp-route-id="@hangHoa.MaHh">
                    <h4>@hangHoa.TenHh</h4>
                </a>
                <p>@hangHoa.MoTaDonVi</p>
                <div class="d-flex justify-content-between flex-lg-wrap">
                    <p class="text-dark fs-5 fw-bold mb-0">$@hangHoa.DonGia / kg</p>
                    <a asp-controller="Cart" asp-action="AddToCart" asp-route-Id="@hangHoa.MaHh" class="btn border border-secondary rounded-pill px-3 text-primary"><i class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart</a>
                </div>
            </div>
        </div>
    </div>
}